common:
	php:
		date.timezone: Europe/Prague

	nette:
		container:
			accessors: TRUE

	services:
		mailer:
			class: Nette\Mail\SendmailMailer

production < common:
	services:
		nette.latteFactory:
			setup:
				- setTempDirectory(null)

development < common:
	services:
		cacheStorage:
			class: Nette\Caching\Storages\DevNullStorage
