<!DOCTYPE html>

<html lang="cs">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Tomáš Litera <tomas@litera.me>">
	<meta name="description" content="svatba Dita &amp; Tomáš">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{block title|striptags|trim}svatba Dita &amp; Tomáš{/block}</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css" type="text/css">

	<!-- Custom Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{$basePath}/font-awesome/css/font-awesome.min.css" type="text/css">

	<!-- Plugin CSS -->
	<link rel="stylesheet" href="{$basePath}/css/animate.min.css" type="text/css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{$basePath}/css/creative.css" type="text/css">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<link rel="canonical" href="{$context->httpResponse->headers[Content-Location]}" n:ifset="$context->httpResponse->headers[Content-Location]">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>

	{include content}

	<!-- jQuery -->
	<script src="{$basePath}/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{$basePath}/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="{$basePath}/js/jquery.easing.min.js"></script>
	<script src="{$basePath}/js/jquery.fittext.js"></script>
	<script src="{$basePath}/js/wow.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="{$basePath}/js/creative.js"></script>

	<!-- Nette Forms JavaScript -->
	<script src="{$basePath}/js/netteForms.js"></script>

	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSYFcsYkNuoocPMRgnEWV3jTiWnJ1edjk"></script>
	<script type="text/javascript">
		// When the window has finished loading create our google map below
		google.maps.event.addDomListener(window, 'load', init);

		function init() {
			// Basic options for a simple Google Map
			// For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
			var mapOptions = {
				// How zoomed in you want the map to start at (always required)
				zoom: 15,

				// The latitude and longitude to center the map (always required)
				center: new google.maps.LatLng(49.269021, 15.703360), // Chaloupky o.p.s

				// How you would like to style the map.
				// This is where you would paste any style found on Snazzy Maps.
				styles: [{
					featureType:"all",
					elementType:"all",
					stylers:[
						{ invert_lightness:true },
						{ saturation:10 },
						{ lightness:40 },
						{ gamma:0.5 },
						{ hue:"#752137" }
					]
				}],

				scrollwheel: false,
				navigationControl: true,
				mapTypeControl: true,
				scaleControl: true,
				draggable: true,
			};

			// Get the HTML DOM element that will contain your map
			// We are using a div with id="map" seen below in the <body>
			var mapElement = document.getElementById('map');

			// Create the Google Map using out element and options defined above
			var map = new google.maps.Map(mapElement, mapOptions);
		}
	</script>

</body>

</html>
